
<div class="container col-sm-6">

  <div class="jumbotron">
  <h2 class="text-center">Comandas Ativas</h2>
  <table class="table table-hover" >
      <thead>
        <tr>
            <th>Cliente</th>
            <th>Mesa</th>
            <th>Status</th>
            <th>Valor</th>
            <th >Ação</th>
  
      </tr>
    </thead>
      <tbody *ngFor="let item of comandas">
  
        <tr>
            <td>{{item.cliente}}</td>
            <td>{{item.mesa}}</td>
            <td>{{item.status}}</td>
            <td>{{item.valorTotal | currency: 'BRL':true}}</td>
            <span class="float=right">
                <button class="btn btn-success mb-1  btn-md">Visualizar</button>
                {{''}}
                <button class="btn btn-warning mb-1  btn-md">Editar</button> 
                  {{''}}
                <button class="btn btn-danger mb-1 btn-md">Excluir</button> 
            </span>
          </tr>
      </tbody>
  
    </table>
</div>
</div>
