
<div class="container col-sm-6">

 <div class="jumbotron" >
   <button class="btn btn-primary mb-3"  data-toggle="modal" data-target="#modalProduto" style="margin-left: 680px;" (click)="limpaForm()">Novo</button>
    <div>{{this.message}}</div>
    <table class="table table-hover">
      <thead>
        <tr>
              <th>#</th>
              <th>Produto</th>
              <th>Preço</th>
              <th>Ação</th>
        </tr>
      </thead>
        <tbody *ngFor="let item of produtos | paginate: {itemsPerPage: 5, currentPage: pAtual}" >
          <tr>
            <td>{{ item.id }} </td>
            <td>{{ item.produto }}</td>
            <td>{{ item.preco | currency: 'BRL':true}}</td>
            <span class="float=right">
              <button class="btn btn-primary mb-1  btn-sm" data-toggle="modal" data-target="#modalProduto" (click)="onPreUpdate(item)">Atualizar</button> 
                {{''}}
              <button class="btn btn-danger mb-1 btn-sm" data-toggle="modal" data-target="#modalProduto-excluir "(click)="onPreUpdate(item)">Excluir</button> 
          </span>
          </tr>
        </tbody>
     
    </table>
    <pagination-controls (pageChange)="pAtual = $event"></pagination-controls>
  </div> 
</div>


<!-- Modal Novo produto-->
<div class="modal fade" id="modalProduto" tabindex="-1" role="dialog" aria-labelledby="modalProduto" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #form="ngForm" (ngSubmit)="salvarProduto(form)">
                <div class="form-group">
                  <label>#</label>
                  <input type="hidden" class="form-control" name="id"  readonly="true" [ngModel]="produto.id">
                  <label>Produto</label>
                  <input type="text" class="form-control" placeholder="Nome do Produto" id="nomeProduto" name="produto" 
                  [ngModel]="produto.produto"
                  >
                </div>
                <div class="form-group">
                  <label>Preco</label>
                  <input type="text" class="form-control" placeholder="R$" id="precoProduto" name="preco" 
                  [ngModel]="produto.preco">
          
                </div>
          
               
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary" (click)="salvarProduto(form)">Salvar mudanças</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Fim Modal novo produto -->

    <div class="modal fade" id="modalProduto-excluir" tabindex="-1" role="dialog" aria-labelledby="modalProduto" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Tem Certeza  que deseja excluir</h5>
            <h5>{{this.produto.id}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-danger" (click)="onDelete(item)">Sim</button>
          </div>
        </div>
      </div>
    </div>
