
<h4 class="ml-5 text-light"> {{this.ambiente}} </h4>
<h1 class="classic mt-1 text-center text-light" > IMPERIAL-BLACK HOOKAH</h1>

<nav class="navbar navbar-expand-lg navbar-dark " *ngIf="mostrarMenu()">
  <a routerLinkActive="active" class="navbar-brand" [routerLink]="['/']"> <button class="btn btn-warning">INICIO</button> </a>
  <button class="navbar-toggler mb-2 navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!-- <li class="nav-item ">
        <a class="nav-link text-light" style="margin-left: 500px;" [routerLink]="['/']">HOME </a>
      </li> -->
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link "  [routerLink]="['/comandas']"><button class="btn btn-primary">COMANDAS</button> </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link " [routerLink]="['/produtos']"><button class="btn btn-primary">PRODUTOS</button> </a>
      </li>
      
    </ul>
    
    <button class="btn btn-danger " (click)="fazerLogoff()">Sair</button>
  </div>
</nav>




<!-- <div class="jumbotron" *ngIf="">
    Listar as comandas ativas
   </div> -->

<router-outlet></router-outlet>
