
<h1 class="text-white text-center">Controle de comandas</h1>
<div class="container">
  <div class="row">

    <div class="col-sm-6 " id="formComanda">
        <form #f="ngForm" (ngSubmit)="criarComanda(f)" >
            <label class="text-light">Cliente</label>
            <div class="row">
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Nome do Cliente" name="cliente"
                id="cliente" [ngModel]="comanda.cliente" >
              </div>

            </div>
            <label class="mt-1 text-light">Mesa</label>
            <div class="row">
                <div class="col-sm-4">
                  <input type="text" class="form-control" placeholder="Nº" id="mesa" name="mesa"
                  [ngModel]="comanda.mesa">
                </div>

                <div class="col-sm-6 ">
                  <select class="form-control" placeholder="Status" id="status" name="status" [ngModel]="comanda.status">
                      <option selected>-Status da Comanda-</option>
                      <option value="true">Ativa</option>
                      <option value="false">Inativa</option>
                  </select>
                    <!-- <input type="number" max="2" class="form-control" placeholder="Status" id="status"> -->
                  </div>
              </div>

              <label class="mt-1 text-light">Valor Atual</label>
              <div class="row">
                  <div class="col-sm-4">
                    <input type="text" class="form-control"  placeholder="R$" id="valor" name="valorTotal"
                    mask="99.00" [ngModel]="comanda.valorTotal" >
                  </div>
                </div>

             <button class="btn btn-success col-4 mt-2 col-sm-4" type="submit" > Criar </button>
             {{ ' ' }}
             <button class="btn btn-primary col-4 mt-2 ml-2 col-sm-3" disabled="true">Alterar </button>
          </form>
    </div>
<hr class="sm">
    <div class="jumbotron col-sm-6">
         <table class="table table-hover">
            <thead>
              <tr>
                    <th>#</th>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th>Ação</th>
              </tr>
            </thead>
              <tbody *ngFor="let item of produtos | paginate: {itemsPerPage: 5, currentPage: pagAtual}" >
                <tr>
                  <td>{{ item.id }} </td>
                  <td>{{ item.produto }}</td>
                  <td>{{ item.preco | currency: 'BRL':true}}</td>
                  <span class="float=right">
                    <button class="btn btn-warning mb-1  btn-sm">+</button> 
                      {{''}}
                    <button class="btn btn-danger mb-1 btn-sm">-</button> 
                </span>
                </tr>
              </tbody>
          </table>
          <pagination-controls (pageChange)="pagAtual = $event"></pagination-controls> 
    </div>

  </div>
</div>
<br>

<div class="container">
<div class="jumbotron">

  <table class="table table-hover" >
    <thead>
      <tr>
          <th>Cliente</th>
          <th>Mesa</th>
          <th>Status</th>
          <th>Valor</th>
          <th>Ação</th>

    </tr>
  </thead>
    <tbody *ngFor="let comanda of comandas | paginate: {itemsPerPage: 8, currentPage: pAtual} ">

      <tr>
          <td>{{comanda.cliente}}</td>
          <td>{{comanda.mesa}}</td>
          <td>{{comanda.status}}</td>
          <td>{{comanda.valorTotal | currency: 'BRL':true}}</td>

          <span class="float=right">
              <button class="btn btn-success mt-1 mb-1  btn-md">Visualizar</button>
              {{''}}
              <button class="btn btn-warning mt-1 mb-1  btn-md"(click)="abrirModal(comanda)"
              data-toggle="modal" data-target="#modalComanda" >Editar</button> 
                {{''}}
              <button class="btn btn-danger mt-1 mb-1 btn-md">Fechar</button> 
          </span>
        </tr>
    </tbody>

  </table>
 <pagination-controls (pageChange)="pAtual = $event"></pagination-controls>
</div>
</div>





