
<div class="container col-sm-6">
    <div class="jumbotron">
      <h3>
          {{this.message}}
      </h3>
      <h2 class="text-center">Login</h2>
<div>
  <form>
      <div class="form-group" [class.has-error]="!username.valid && username.touched">
        <label>Usuário</label>
        <input [(ngModel)]="usuario.username" name="username" type="texto"  class="form-control" placeholder="Ex. seu.email@gmail.com" 
        required email #username="ngModel">
        <div *ngIf="!username.valid && username.touched"
        class="alert alert-danger" role="alert"> 
          Email é obrigatório
        </div>
      </div>


      <div class="form-group">
        <label>Senha</label>
        <input [(ngModel)]="usuario.password" name="password" type="password" class="form-control"  placeholder="Senha" 
        required #password="ngModel">
        <div *ngIf="!password.valid && password.touched"
        class="alert alert-danger" role="alert"> 
          Senha é obrigatório
        </div>
      </div>

      <button class="btn btn-success" (click)="fazerLogin()" [disabled]="!username.valid || !password.valid">Login</button>
      <button class="btn btn-danger ml-2" ng-click="" disabled="true">Esqueci minha senha</button>
    </form>
  </div>
</div>
</div>
