<div class="container col-sm-6">

        <div class="jumbotron" >
          <table class="table table-hover">
            <thead>
              <tr>
                    <th>#</th>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th>Ação</th>
              </tr>
            </thead>
              <tbody *ngFor="let item of produtos | paginate: {itemsPerPage: 5, currentPage: pAtual}" >
                <tr>
                  <td>{{ item.id }} </td>
                  <td>{{ item.produto }}</td>
                  <td>{{ item.preco | currency: 'BRL':true}}</td>
                  <span class="float=right">
                    <button class="btn btn-warning mb-1  btn-sm">Atualizar</button> 
                      {{''}}
                    <button class="btn btn-danger mb-1 btn-sm">Excluir</button> 
                </span>
                </tr>
              </tbody>
           
          </table>
          <pagination-controls (pageChange)="pAtual = $event"
          ></pagination-controls>
        </div>
      </div>
