<div>
  <h3>GET da API placeHolder JSON</h3>
</div>

  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
      <th>Id</th>
      <th>Imagem</th>
      <th>Titulo</th>
    </tr>
    </thead>
    <tbody class="table table-striped" *ngFor="let item of images" >
        <td> {{item.id}}</td>
        <td>{{item.url}}</td>
        <td>{{item.title}}</td>

    </tbody>
  </table>
